//Primary
$moderateCyan:hsl(176, 50%, 47%);
$darkCyan:hsl(176, 72%, 28%);
//Neutral
$white:hsl(0%,0%,100%);
$darkGray:hsl(0, 0%, 48%);
$lightGray:hsl(0%,0%,80%);
$black: hsl(0%,0%,0%);

$font-sm:1rem;
$font-md:1.5rem;
$font-lg:2.0625rem;
$font-xlg:3.0625rem;
$font-xxlg:5rem;


$commissionerFont: 'Commissioner', sans-serif;
