/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #f7f7f7;
}

h1 {
  font-family: "Commissioner", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  font-size: 3.0625rem;
}

h3 {
  font-family: "Commissioner", sans-serif;
  font-size: 2.0625rem;
  font-weight: 600;
}

h4 {
  font-family: "Commissioner", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-family: "Commissioner", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

p {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  color: #7a7a7a;
  word-spacing: 2px;
  line-height: 2rem;
  letter-spacing: 0.3px;
  font-size: 1.2rem;
}

button {
  color: white;
  background-color: #3cb4ac;
  outline: none;
  border-color: transparent;
  border-radius: 3rem;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.6rem 1.2rem;
}

button:hover {
  cursor: pointer;
  background-color: #147b74;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

.container-padding-hor {
  padding-left: 4rem;
  padding-right: 4rem;
}

.container-padding-ver {
  padding-top: 4rem;
  padding-right: 4rem;
}

.container-padding-all {
  padding: 4rem 4rem;
}

.center {
  margin: 0 auto;
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none  !important;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none  !important;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.grid-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 63.9375em) {
  .grid-col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-col-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 63.9375em) {
  .grid-col-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-col-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 63.9375em) {
  .grid-col-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-col-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-col-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-col-12 {
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-col-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-row-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-row-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-row-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-row-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-row-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-row-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
}

@media (max-width: 63.9375em) {
  .grid-row-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-sa {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-sb {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll-x {
  overflow-x: hidden;
}

.hero {
  background-image: url(../images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  height: 24rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.125rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
}

.navbar__links a {
  color: white;
  text-decoration: none;
}

.navbar__links a:hover {
  text-decoration: underline;
}

.content__wrapper {
  text-align: center;
  border-radius: 1rem 1rem;
  margin: 0 auto;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  padding-left: 3rem;
  padding-right: 3rem;
  height: 200vh;
  width: 60%;
}

.content__wrapper__logo img {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.content__wrapper__hero {
  background-color: white;
  border-radius: 1rem 1rem;
  padding: 4.0625rem;
  margin-bottom: 2rem;
}

.content__wrapper__hero p {
  padding-top: 1.6875rem;
  font-size: 1.3rem;
}

.content__wrapper__hero button:not(:first-child) {
  color: #7a7a7a;
  background-color: #cccccc;
}

.content__wrapper__hero__cta {
  margin-top: 2.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content__wrapper__section1__portion1 {
  text-align: left;
}

.content__wrapper__section1__portion2__container {
  height: 1.3rem;
  background-color: #cccccc;
  border-radius: 1rem;
  margin-top: 2.375rem;
}

.content__wrapper__section1__portion2__container__skill {
  width: 60%;
  border-radius: 1rem;
  background-color: #147b74;
  color: #147b74;
  padding: 1%;
}

.content__wrapper__section2 {
  margin-top: 1.6rem;
  text-align: left;
}

.content__wrapper__section2 h3 {
  margin-bottom: 3.25rem;
}

.content__wrapper__section2__reward {
  margin: 3rem 3rem;
}

.content__wrapper__section2__reward h5 {
  color: #147b74;
  font-weight: 500;
}

.content__wrapper__section2__reward :not(:first-child) {
  margin-top: 1.625rem;
}

.content__wrapper__section2__reward_element_end h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__wrapper__section2__reward_element_end h4 span {
  font-size: 1rem;
  color: #7a7a7a;
  padding-left: .3rem;
}

.section-style {
  background-color: white;
  border-radius: 1rem 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3.43rem;
  padding-bottom: 3.3rem;
}

.reward-style {
  background-color: white;
  border-radius: .8rem;
  border: solid #cccccc 0.2rem;
  padding: 2.625rem 2.185rem;
}

.reward-style h4:first-child {
  margin-bottom: 2.31rem;
}

.reward-style-disabled {
  background-color: white;
  border-radius: .8rem;
  border: solid #cccccc 0.2rem;
  padding: 2.625rem 2.185rem;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.reward-style-disabled button {
  background-color: #7a7a7a;
}
/*# sourceMappingURL=style.css.map */