@import 'reset';
@import 'mixins';
@import 'variables';
@import 'global';
@import 'hero';
@import 'navbar';
@import 'content';

.section-style{
    background-color: $white;
    border-radius: 1rem 1rem;
   
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3.43rem;
    padding-bottom: 3.3rem;
}
.reward-style{
    background-color: $white;
    border-radius: .8rem;
    border: solid $lightGray 0.20rem;
    padding:2.625rem 2.185rem;
    h4{
        &:first-child{
        margin-bottom: 2.31rem;
        }
        
    }
    
    :not(:first-child){
       
    }

    &-disabled{
     background-color: $white;
    border-radius: .8rem;
    border: solid $lightGray 0.20rem;
    padding:2.625rem 2.185rem;
    filter: opacity(.5);
        button{
            background-color: $darkGray;
        }
    }
}